@charset "UTF-8";

.evt {
  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh;
    font-size: 2em;
    font-family: 'RixSinGoExtraBold';
  }

  &-content {
    text-align: center;
  }

  /* form */
  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-input-box {
    position: relative;
    max-width: 300px;
    padding: 1.1rem 1rem;
    border-radius: 2px;

    &::after {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 999;
      height: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-position: 0% 0%;
      background: linear-gradient(to right, #061c25, $riot-blue, #d0a85c, $riot-blue, $riot-yellow, #0bc6e3);
      background-size: 500% auto;
      animation: gradient 3s linear infinite;
    }

    /* input */
    .evt-input {
      width: 100%;
      font-size: 1.3rem;
      &::placeholder {
        color: #ccc
      }
    }
  }

  /* btn */
  &-btn {
    min-width: 80px;
    margin-left: 2px;
    padding: 0.7em 0;
    background-color: $riot-blue;
    border-radius: 2px;
    transition: 0.2s;
    cursor: pointer;
    &:hover{ 
      color: $riot-blue;
      background-color: #fff;
      border: 1px solid rgba(11, 198, 227, 0.4);
    }
  }

  &-pengu {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    animation: pengu 1s linear infinite alternate;
  }
}