section {
  visibility: hidden;
}

section.is-active {
  background-color: #fffefc;
  transition: background-color 0.3s linear;
}

.intro {
  position: relative;
  padding-bottom: 80px;


  &-wrap {
    padding-top: 180px;
    background-color: antiquewhite;
    will-change: transform;
    transition: 0.2s background-color;

    .container {
      padding-bottom: 120px;
    }

    .title {
      padding-bottom: 200px;
      font-size: 4.7333em;
      font-weight: bold;

      +p {
        font-size: 16px;
        color: #000;
      }
    }
  }
}

.projects {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
.middle {
  padding-top: 40vh;
  padding-bottom: 20vh;

  &-title {
    padding: 0 80px;
    font-size: 8em;
  }

  p {
    padding: 0 80px;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1.2px;
  }
}

.container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 80px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 26px;
  }
}

.list {
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
}

.item {
  width: calc((100% - 160px) / 2);
  height: fit-content;
  margin-left: 160px;
  overflow: hidden;

  &:nth-of-type(2n+2) {
    margin-left: 0;
  }

  &:nth-of-type(2) {
    margin-top: 500px;
  }

  &-img {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin-bottom: 25px;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    will-change: transform;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.5s cubic-bezier(0.75, 0, 0.125, 1);
      -o-transition: all 0.5s cubic-bezier(0.75, 0, 0.125, 1);
      transition: all 0.5s cubic-bezier(0.75, 0, 0.125, 1);
    }
  }

  .name {
    margin-bottom: 4px;
    font-weight: bold;
  }

  .copy {
    color: gray
  }
}

@media (max-width:768px) {
  .item {
    width: 100%;
    max-width: 80%;
    margin: 0 auto 400px;

    &:nth-of-type(2) {
      margin: 0 auto 400px;
    }
  }
}

.resume {
  display: flex;
  width: 100%;
  margin: 120px auto 0;
  padding: 80px 0;

  .container {
    justify-content: flex-start;
    display: flex;
    width: 100%;
  }
}

.btn-resume-down {
  position: relative;
  min-width: 400px;
  font-size: 1.6em;
  font-weight: bold;
  color: #000;
  padding: 8px 12px;
  text-decoration: none;

  &:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    &:after {
      transform: scaleX(0.8);
      transform-origin: bottom left;
    }
  }
}

footer{ 
  height: 20vh;
  padding: 60px 0;
  background-color: #fffefc;
}