@charset "UTF-8";

.is-blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

img.has-border {
  box-shadow: 3px 4px 7px -3px rgba(236, 236, 236, 0.8)
}

/* layout */
body {
  color: #222;
  background-color: rgba(252, 251, 250, 1);
}

.content {
  margin-bottom: 120px;
}

.inner {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
}

@media(max-width: 1024px) {
  .inner {
    max-width: 1200px;
    padding: 0 20px;
  }
}

@media(max-width: 768px) {
  .inner {
    max-width: 100%;
    padding: 0 12px;
  }
}

/* header */
.gnb {
  position: fixed;
  top: -15px;
  left: 0;
  width: 100%;
  height: 200px;
  padding: 35px 0 20px 0;
  transition: height 0.4s, top 0.3s, background-color 0.3s ease;
  z-index: 3;
  transition-delay: .4s;
  pointer-events: painted !important;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;

}

.gnb.has-bg {
  position: fixed;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.8);
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown
}


.gnb_inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  display: block;
  width: 121px;
  height: 52px;
  transform: rotate(-5deg);
}

.landing {
  display: flex;
  height: 100%;
  min-height: 100vh;
  padding-top: 92px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.landing_inner {
  width: 100%;
}

.landing_title {
  letter-spacing: 1px;
}

.landing_title_box.first {
  text-align: right;
}

.landing_title_box.second {
  text-align: left;
}

.landing_letter {
  font-size: 12.555vw;
  font-weight: bold;
  color: rgba(255,255,255,0.2);
  -webkit-text-stroke: 1px #222;
}

.landing_title strong {
  letter-spacing: -0.7px;
  font-weight: 700;
}

.landing_kv_img {
  position: relative;
  width: 80%;
  height: 900px;
  margin: 0 auto;
  background-color: #616161;
  transform: translateY(-10%);
  transition: width 1s;
}

.is-active .landing_kv_img {
  width: 100%;
}

/* my wrap */
.my_wrap_inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 60px 40px 120px;
}

.my_wrap_inner:after {
  content: '';
  display: block;
  clear: both;
}

.my_wrap_con {
  float: left;
  -webkit-transform: translateY(120px);
  transform: translateY(120px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
  -webkit-transition: transform 1s, opacity 1s;
}

.my_wrap_con.is-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.my_wrap_con_txt {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.95;
}

.my_wrap_con_txt strong {
  font-weight: bold;
}

@media(max-width: 768px) {
  .my_wrap_inner {
    padding: 45px 20px 80px;
  }

  .my_wrap_con {
    max-width: 80%;
  }

  .my_wrap_con_txt {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* about */
.about_wrap {
  position: relative;
  padding-bottom: 120px;
  background-color: #faf8f5;
}

.about_wrap_inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  height: 840px;
}

.about_wrap_letter {
  font-size: 110px;
  font-weight: bold;
  letter-spacing: 8px;
  color: #444;
}

@media(max-width: 768px) {
  .about_wrap_inner {
    padding: 0 20px;
  }

  .about_wrap_letter {
    font-size: 60px;
  }
}

/* about list */
.about_list {
  text-align: right;
}

.about_list_item {
  margin-bottom: 32px;
}

.about_list_title {
  margin-bottom: 6px;
  padding-right: 60px;
  font-size: 38px;
  font-weight: bold;
  background-size: 40px;
  background-position: center right;
  background-repeat: no-repeat;
}

.about_list_title.is-dev {
  background-image: url('../img/ic/ic_coding.png');
}

.about_list_title.is-html {
  background-image: url('../img/ic/ic_markup.png');
}

.about_list_title.is-tool {
  background-image: url('../img/ic/ic_tool.png');
}

.about_list_title.is-frame {
  background-image: url('../img/ic/ic_frame.png');
}

.about_list_title.is-commu {
  background-image: url('../img/ic/ic_commu.png');
}

.about_list_desc {
  font-size: 18px;
}

@media(max-width: 768px) {
  .about_list {
    margin-top: 45px;
  }

  .about_list_title {
    padding-right: 36px;
    font-size: 24px;
    background-size: 24px;
    background-position: center right;
    background-repeat: no-repeat;
  }

  .about_list_desc {
    float: right;
    max-width: 75%;
    font-size: 14px;
  }

  .about_list_item:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* work */
.work {
  display: flex;
  align-items: center;
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 2px;
  transition: box-shadow 300ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work+.work {
  margin-top: 80px;
}

.work.no-border {
  padding: 40px 20px;
}

.work:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.16);
}

.work.no-border {
  position: relative;
}

.work.no-border:hover {
  box-shadow: none;
}

.work.no-border+.work.no-border {
  margin-top: 40px;
}

.work.no-border+.work.no-border:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  z-index: 1;
}

.work_intro {
  margin-bottom: 4px;
  padding: 60px 0 80px;
  font-size: 38px;
  letter-spacing: -0.5px;
  text-align: center;
}

.work_intro_sub {
  font-size: 16px;
  color: #a3a3a3;
}

@media(max-width: 768px) {
  .work {
    display: block;
    padding: 12px;
  }

  .work_intro {
    margin-bottom: 2px;
    padding: 25px 40px;
    font-size: 28px;
    line-height: 34px;
  }

  .work_intro_sub {
    font-size: 12px;
  }
}

/* portfolio */
.portfolio {
  padding-top: 180px;
  font-size: 16px;
}

.port_subtit {
  font-size: 18px;
}

.port_disc {
  width: 80%;
  margin-bottom: 12px;
  font-size: 16px;
}

img+.port_disc {
  margin-top: 8px;
}

.port_list {
  margin-bottom: 24px;
}

.port_list_item {
  padding: 8px 0;
  color: #616161;
}

.port_link {
  display: inline-block;
  margin-bottom: 28px;
  font-size: 16px;
}

.port_link:hover {
  font-weight: bold;
  text-decoration: underline;
}

.port_img {
  display: inline-block;
  margin-bottom: 60px;
  font-size: 0;
  vertical-align: top;
}

.port_img {
  margin-left: 3%;
}

.port_img:first-of-type {
  margin-left: 0;
}

.port_img:nth-of-type(2n+1) {
  margin-left: 0;
}

.port_img.w-50 {
  width: 45%;
}

@media(max-width: 768px) {
  .portfolio {
    font-size: 14px;
  }

  .port_list_item {
    padding: 4px 0;
  }

  .port_img {
    display: block;
  }

  .port_img,
  .port_img.w-50 {
    width: 100%;
    margin: 0 auto 20px;
  }

  .port_img+.port_img {
    margin-left: 0;
  }

  .port_disc {
    width: 100%;
    font-size: 14px;
  }
}

/* work hover */
.work_hover {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  min-height: 300px;
}

.work_hover_title {
  position: relative;
  display: inline-block;
  padding: 30px 60px 30px 0;
  font-weight: bold;
  font-size: 7.2rem;
  letter-spacing: -0.5px;
  transition: 0.4s;
  z-index: 3;
}

.work_hover_title:hover {
  transform: translateX(-30px);
}

.work_hover_img {
  /* transform: scale(0.6);
  transition: all 0.6s; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  float: left;
  max-width: 440px;
  -webkit-transition: opacity 1s, left 0.3s, top 0.3s;
  transition: opacity 1s, left 0.3s, top 0.3s;
  pointer-events: none;
  z-index: 2;
}

.work_hover:hover>.work_hover_img {
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.5s, opacity 1s, left 0.3s, top 0.3s;
  transition: visibility 0.5s, opacity 1s, left 0.3s, top 0.3s;
}

/* canvas */
.canvas {
  display: block;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}


/* test */
.frame {
  position: relative;
  padding: 40px 0;
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0.5);
}

.con {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.con_r {
  width: 56%;
}

.con_r img {
  box-shadow: 9px 15px 13px 7px rgba(0, 0, 0, 0.2);
}

.test_serve {
  margin-top: 20px;
  opacity: 0;
  /* transform: translateY(100px); */
  transition: transform .5s, opacity .5s linear;
}

.test_serve.transition {
  opacity: 1;
  transform: translateY(0);
}