@font-face {
    font-family : 'RixSinGoRegular';
    font-style  : normal;
    src         : url('~@/assets/fonts/RixSinGoRegular.woff2') format('woff2')
}

@font-face {
    font-family : 'RixSinGoExtraBold';
    font-style  : normal;
    src         : url('~@/assets/fonts/RixSinGoExtraBold.woff2') format('woff2')
}


@font-face {
    font-family : 'Beaufort for LOL Bold';
    font-style  : normal;
    src         : url('~@/assets/fonts/Beaufort for LOL Bold.woff2') format('woff2');
}
